*{
    background-color: black;
    font-style: monospace;
    color: white;
}
body{
    display: flex;
}
span button{
    margin-top: 10%;
    margin-left: 28%;
    color:darkcyan;
    height: 300px;
    width: 400px;
    background-color: greenyellow;
}
