*{
    background-color: black;
    font-style: monospace;
    color: white;
}
span button{
    margin-top: 20%;
    margin-left: 43%;
    color:darkcyan;
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    
}