body{
    background: black;
}


.img_and_name{
    color: grey;
    margin-left: 200px;

}

#main_words{
    margin-left: 100px;
    size: 400px;
}
img{
    border-radius: 80%;
}
img:hover{
    border-radius: 0%;
}
hr{
    color: white;
}
.textual{
    color:grey;
}
