body{
    background-color: black;
}

.a{
    color: aliceblue;
}
.b{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    color-scheme: blue,green;
    color: aquamarine;
}
#b{
    color :wheat;
}




